    
/* Text Google Fonts "League Spartan" */
    @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');

/* Reset */


body, html {

    height: 100%;
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {

    font-family: 'league spartan';
    letter-spacing: 2px;
    color: black;
    background-color: #c6b6a9;
    font-weight: 900;
}


/* Header */

.header {
    background-color: #847365;
    height: 65px;
    width:  100%;
    position: absolute;
    

}


.main_header {
    color:  black;
    float: left;
    position: relative;
    left: 10px;
    top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

/* Navigation */

.nav {
    overflow: hidden;
    position: relative;
    top: 15px;
    right: 10px;
    width: auto;
}

.nav_links {
    list-style: none;
    
}

.nav_links a {
    text-decoration: none;
    color: black;
    padding: 2px;
    font-family: 'Barlow';
    

}

.nav_links a:hover {

    color: black;
    text-decoration: underline;
    border-radius: 50%;
    background-color: #fafafa;
}

.nav_links li {
    display: inline-block;
}


/* Hero */

.hero-section {

    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    height: 800px;

   
}

.hero-circle {
    display: flex;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: #847365;
    position: absolute;
    align-self: center;
    z-index: -2;
    top: 200px;

}

.hero-picture {
    width: 200px;
    height: auto;
    align-self: center;
    display: block;
    top: auto;
    margin-left: auto;
    margin-right: auto;
}


/* Containers for front page */

/*Tips and tricks container */
.container-flex-right-one {
    width: 80px;
    height: 80px;
    background-color: #231f20;
    align-self: center;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 200px;

}

/* Diagnosis container */
.container-flex-right-two {
    width: 80px;
    height: 80px;
    background-color: #231f20;
    align-self: center;
    border-radius: 50%;
    position: relative;
    left: 180px;
    bottom: 50px;
}


.container-border-right-one {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
    position: relative;
    top: 40px;
    right: 10px;
}

.container-border-right-two {

    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
    position: relative;
    top: 40px;
    right: 10px;
}

/* Contact container */
.container-flex-left-one {
    width: 80px;
    height: 80px;
    background-color: #231f20;
    border-radius: 50%;
    align-self: center;
    position: relative;
    right: 180px;
    bottom: 50px;

}

/* Info container */
.container-flex-left-two {
    width: 80px;
    height: 80px;
    background-color: #231f20;
    border-radius: 50%;
    align-self: center;
    position: relative;
    right: 200px;
    top: 30px;

}


.container-border-left-one {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: -1;
    top: 40px;
    right: 10px;
}

.container-border-left-two {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: -1;
    top: 40px;
    right: 10px;
    

 
}
/* Links and text for containers */

.flex-container-text {
    text-align: center;
    font-size: 12px;
    color: white;
    position: relative;
    bottom: 15px;
    font-family: 'league spartan';
    text-decoration: none;
    color: white;
    z-index: 1;
}

.tips-tricks {

    position: relative;
    bottom: 5px;
}

.flex-container-text a {
    text-decoration: none;
    color: white;
}

/* Text box and circle box */

.text-box {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 700px;
    background-color: #231f20;
}

.circle-box {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
    gap: 10px; 
    height: 300px;
    width: 300px;
    background-color: #847365;
    border-radius: 50%;

}

.circle-header {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Barlow';
    letter-spacing: 0.5px;

}

.circle-text {
    
    font-size: 10px;
    color: #383838;
    line-height: 15px;
    font-family: 'Barlow';
    text-align: center;
    letter-spacing: 0.5px;
    
    }



.box-text {
    font-size: 12px;
    color: white;
    color: #cb7775;
    font-family: 'Barlow';
    text-align: center;
    position: relative;
    margin-top: 50px;


}



/* About us */

.about-us {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    height: 400px;
    background-color: #c6b6a9;
    justify-content: center;

}

/* About us containers */
.about-us-big-circle {
    display: flex;
    display: grid;
    width: 320px;
    height: 320px;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    background-color: #231f20;
    border-radius: 50%;
    margin-top: 40px;
    align-items: center;
    justify-self: center;


}



.about-us-circle {
    height: 90px;
    width: 90px;
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
    background-color: #e88684;
    z-index: 2;
    align-self: flex-start;
    margin-left: 2.5px;
    margin-top: 5px;
    
}

.about-us-small-circle-one {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
    background-color: #c7745e;
    z-index: 2;
    margin-top: 25px;
    margin-left: 100px;

}

.about-us-small-circle-two {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
    background-color: #eeaa94;
    z-index: 2;
    margin-top: 300px;
    margin-left: 230px;
}


/* About us text */

.about-us-container-text {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 25px;
    line-height: 30px;
    font-family: 'Barlow';
}

.about-us-big-circle p {
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    inline-size: 80%;
    margin-left: 10%;

}



/* Footer */

.footer {

   
    background-color: #847365;
    width: 100%;
    height: 85px;
    position: absolute;
    margin-top: auto;

}

.footer_text {
    font-size: 20px;
    text-align: center;
    color: black;
    position: relative;
    top: 20px;
    
}

/* Footer links to social medias */

.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;


}

.footer_links li {

    list-style: none;
}

.footer_links a {
    color: black;
    font-size: 25px;
    padding: 10px;

}

.footer_links .facebook {
    position: relative;
    left: 5px;
}

.footer_links a:hover {
    color: white;

}







/* Media Queries */


@media only screen and (max-width: 380px) {

    .container-flex-left-one {
        right: 120px;
        bottom: 170px;
    }
    
    .container-flex-right-two {
        left: 120px;
        bottom: 170px;
    }


}



@media only screen and (min-width: 1366px) {
    /*Hero */

    .hero-section {

        height: 1200px;
    }

   .hero-circle {
        width: 550px;
        height: 550px;
        top: 150px;
        
    
    }

    .hero-picture {
        width: 400px;
        height: 400px;
        bottom: 200px;
    }



    /* Flex Containers */

    /* Tips and tricks container */
    .container-flex-right-one {
        height: 140px;
        width: 140px;
        left: 590px;
        top: -170px;

    }

    .container-border-right-one {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Diagnosis container */
    .container-flex-right-two {
        height: 140px;
        width: 140px;
        left: 655px;
        top: -170px;
    }

    .container-border-right-two {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }
    /* Contact container */
    .container-flex-left-one {
        height: 140px;
        width: 140px;
        right: 450px;
        top: -170px;

    }

    .container-border-left-one {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }
    /* Info container */
    .container-flex-left-two {
        height: 140px;
        width: 140px;
        right: 800px;
        top: -170px

    }

    .container-border-left-two {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Text for containers */

    .flex-container-text {
        font-size: 26px;
    }

    /* Text box */


    .box-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }




    .circle-box {
        width: 400px;
        height: 400px;
    }

    .circle-header {

        font-size: 24px;


    }

    .circle-text {
        font-size: 18px;

    
    }



    .about-us-big-container {

    }



}



