    
    /* Text Google Fonts "League Spartan" */
    @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
    @import url('https://fonts.cdnfonts.com/css/cooper-hewitt');

/* Reset */

* {
    padding: 0;
    margin: 0;
    border: 0;
}



body {

    font-family: 'league spartan';
    letter-spacing: 2px;
    color: black;
    background-color: #c6b6a9;
}


/* Header */

.header {
    background-color: #847365;
    height: 65px;
    width:  100%;
    position: absolute;
    

}


.main_header {
    color:  black;
    float: left;
    position: relative;
    left: 8px;
    top: 15px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 1200;
}

/* Navigation */

.nav {
    float: right;
    overflow: hidden;
    position: relative;
    top: 15px;
    right: 10px;
}

.nav_links {
    list-style: none;
    
}

.nav_links a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: 'cooper hewitt';
    font-weight: 709;
    

}

.nav_links a:hover {

    color: black;
    text-decoration: underline;
    border-radius: 50%;
    background-color: #fafafa;
}

.nav_links li {
    display: inline-block;
}


/* Hero */

.hero {

    background-color: grey;
    height: 400px;
    width: 90%;
    left: 5%;
    top: 150px;
    position: relative;

}

.hero_header {
    text-align: center;
    
}

.hero_head {

}

.hero_header {
    font-size: 48px;

}

.hero_text {
    position: relative;
    left: 10px;
    overflow: hidden;

}

.main_text {
    font-size: 18px;
    


}




/* Footer */

.footer {

   
    background-color: #847365;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 100%;

}

.footer_text {
    font-size: 20px;
    text-align: center;
    color: white;
    
}

.footer_links {
    float: right;
    position: relative;
    bottom: 5px;

}

.footer_links a {
    color: white;
    font-size: 25px;
    padding: 10px;
}

.footer_links .facebook {
    position: relative;
    left: 5px;
}

.footer_links a:hover {
    color: beige;

}

.footer_links li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

