/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');

/* Reset */

:root {
    --circle: 275px;
}

html {
    scroll-behavior: smooth;
}


body,
html {

    height: 100%;
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}


/* Body */

body {

    font-family: 'League Spartan', sans-serif;
    letter-spacing: 2px;
    background-color: #c6b6a9;
    font-weight: 900;
}

/* Header */

.header {
    background-color: #847365;
    height: 65px;
    width: 100%;
    position: absolute;
}

.main_header {
    color: #231f20;
    float: left;
    position: relative;
    left: 5px;
    top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

.main_header a {
    text-decoration: none;
    color: black;
}

.main_header a:hover {
    color: #e98784;

}

/* Navigation */



.nav_links {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    letter-spacing: 1px;

}

.nav_links a {

    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    font-family: 'Barlow', sans-serif;

}

.nav_links a:hover {

    color: #231f20;
    text-decoration: underline;
    border-radius: 25px;
    background-color: #e98784;
}

.nav_links li {
    display: flex;
    align-self: flex-end;

}


/* Index */

/* Hero */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;


}

.hero-circle {
    width: 200px;
    display: flex;
    justify-self: center;
    border-radius: 50%;
    background-color: #847365;
    z-index: -2;
    position: absolute;
}

.hero-picture {
    max-width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* Containers for front page */

/*Tips and tricks container */

.mini-circle {
    width: calc(var(--circle) * 0.3);
    height: calc(var(--circle) * 0.3);
    background-color: #231f20;
    align-self: center;
    border-radius: 50%;
    position: relative;
}

.container-flex-right-one {
    top: 130px;
    left: 200px;
}

/* Diagnosis container */
.container-flex-right-two {
    left: 180px;
    bottom: -30px;
}


.container-border-right-one {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
    position: relative;
    top: 40px;
    right: 10px;
}

.container-border-right-two {

    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
    position: relative;
    top: 40px;
    right: 10px;
}

/* Contact container */
.container-flex-left-one {
    right: 180px;
    bottom: -30px;
}

/* Info container */
.container-flex-left-two {
    right: 200px;
    top: 130px;
}


.container-border-left-one {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: -1;
    top: 40px;
    right: 10px;
}

.container-border-left-two {
    width: 100px;
    height: 50px;
    background-color: #e98784;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: -1;
    top: 40px;
    right: 10px;
}

/* Links and text for containers */

.flex-container-text {
    text-align: center;
    color: white;
    position: relative;
    letter-spacing: 0.5px;
    bottom: 15px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: white;
    z-index: 1;
}

.tips-tricks {
    bottom: 25px;
}

.flex-container-text a {
    text-decoration: none;
    color: white;
}

.flex-container-text a:hover {
    color:#e98784
}

/* Text box and circle box */

.text-box {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 700px;
    background-color: #231f20;
}

.circle-box {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
    gap: 10px;
    height: 300px;
    width: 300px;
    background-color: #847365;
    border-radius: 50%;

}

.circle-header {
    text-align: center;
    align-self: center;
    inline-size: 90%;
    text-transform: uppercase;
    color: white;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 0.5px;

}

.circle-text {

    color: #231f20;
    line-height: 110%;
    width: 90%;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 5%;

}



.box-text {
    font-size: 12px;
    color: #e98784;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;


}


/* About us */

.about-us {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr;
    height: 400px;
    background-color: #c6b6a9;
    justify-content: center;

}

/* About us containers */
.about-us-big-circle {
    display: flex;
    display: grid;
    width: 320px;
    height: 320px;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    background-color: #231f20;
    border-radius: 50%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;


}

.about-us-circle {
    height: 90px;
    width: 90px;
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
    background-color: #e98784;
    z-index: 2;
    align-self: flex-start;
    margin-left: 2.5px;
    margin-top: 5px;

}

.about-us-small-circle-one {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
    background-color: #c7745e;
    z-index: 2;
    margin-top: 25px;
    margin-left: 100px;

}

.about-us-small-circle-two {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
    background-color: #e98784;
    z-index: 2;
    margin-top: 300px;
    margin-left: 230px;
}


/* About us text */

.about-us-container-text {
    font-size: 18px;
    color: #231f20;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-family: 'Barlow', sans-serif;
}

.about-us-big-circle p {
    font-size: 12px;
    text-align: center;
    color: white;
    letter-spacing: 0.5px;
    line-height: 80%;
    inline-size: 80%;
    align-self: center;
    margin-left: 30px;

}



/* End of index.html */

/* Start of diagnosis.html */

/* Diagnosis header */

.diagnosises {
    background-color: #847365;
    padding-bottom: 20px;
}

.diagnosis-header-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #c6b6a9;
    height: 170px;
}

.your-diagnosis {
    font-size: 35px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #231f20;
    text-align: center;
}

.diagnosis-main-header {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'League Spartan', sans-serif;
    margin-top: 150px;

}

.diagnosis-header {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.professional-header {
    letter-spacing: 0.5px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}



/* Diagnosis main content */


.diagnosis-boxes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 100px;


}

.diagnosis-box {
    background-color: #231f20;
    width: 90%;
    border-radius: 20px;
    padding: 10px;


}

.diagnosis-text {
    color: #e98784;
    font-family: 'Barlow', sans-serif;
    line-height: 1.1;
    margin-left: 5px;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}

.diagnosis-list {
    list-style: none;

}

.learn-more {
    margin-left: 5px;
    color: white;
    padding-bottom: 5px;

}

.learn-more a {
    text-decoration: none;
    color: white;
}

/* End of diagnosis.html */


/* Start of tips-tricks.html */

.tips-and-tricks {
    background-color: #231f20;
    padding-bottom: 20px;
}

.diagnosis-boxes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 100px;


}

.tips-tricks-box {
    background-color: #847365;
    width: 90%;
    border-radius: 20px;
    padding: 10px;

}

.tips-tricks-text {
    color: #231f20;
    font-family: 'Barlow', sans-serif;
    line-height: 1.1;
    margin-left: 5px;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}





/* Start of join.html */

/* Newsletter */
.newsletter-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.newsletter {
    height: 350px;
    width: 290px;
    background-color: #231f20;
    border-radius: 25px;
    margin-top: 150px;
    padding-bottom: 30px;
}

.header-newsletter {
    align-self: flex-start;
    font-size: 30px;
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.paragraph-newsletter {
    color: #e98784;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 5px;

}


/* Sign up form */
.sign-up-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    height: 250px;
    width: 320px;
    background-color: #231f20;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 25px;
    zoom: 100%;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
}

#submit {
    position: relative;
    top: 20px;
}


.sign-up-header {
    align-self: flex-start;
    font-size: 30px;
    position: relative;
    bottom: 10px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

.diagnosis-label {
    display: flex;
    color: white;
    text-transform: uppercase;
    align-self: auto;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: 'Barlow', sans-serif;
}

#name {
    background-color: #e98784;
    color: #fafafa;
    width: 250px;
    height: 50px;
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    border-radius: 25px;
    letter-spacing: 0.5px;
}


#name::placeholder {
    color: white;
}

#email {
    background-color: #e98784;
    color: #fafafa;
    width: 250px;
    height: 30px;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    border-radius: 25px;
    align-self: center;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 40px;

}

#submit {
    width: 80px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    background-color: #e98784;
    align-self: flex-end;
    margin-top: 60px;
    margin-right: 10px;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

#submit:hover {
    color: #231f20;
}

#email::placeholder {
    color: white;
}

#checkbox {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    color: #e88684;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    bottom: 130px;
    gap: 5px;
    margin-bottom: 10px
}

#checkbox2 {
    color: #e88684;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    position: relative;
    bottom: 226px;
    left: 50px;

}

/* End of join.html */


/* Footer */

.footer {


    background-color: #847365;
    width: 100%;
    height: 85px;
    position: absolute;
    margin-top: auto;
    border-top: 5px solid #231f20;
}

.footer_text {
    font-size: 20px;
    text-align: center;
    color: black;
    position: relative;
    top: 20px;

}

/* Footer links to social medias */

.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;


}

.footer_links li {

    list-style: none;
}

.footer_links a {
    color: black;
    font-size: 25px;
    padding: 10px;

}

.footer_links .facebook {
    position: relative;
    left: 5px;
}

.footer_links a:hover {
    color: white;

}

.footer-thanks {
    position: absolute;
    bottom: 0;
}

/* Media queries */


@media only screen and (max-width: 600px) {

    .container-flex-left-one {
        right: 130px;
        bottom: 90px;
    }

    .container-flex-right-two {
        left: 130px;
        bottom: 90px;
    }

    .container-flex-right-one {
        left: 210px;
        top: 90px;
    }

    .container-flex-left-two {
        right: 210px;
        top: 90px;
    }


}

.h2-thanks {
    color: #231f20;
    letter-spacing: 0.5px;
    text-align: center;
    
}

.professional-header {
    font-size: 20px;
}




@media only screen and (min-width: 601px) {

    .about-us {
        height: 500px;

    }

    /* About us containers */
    .about-us-big-circle {
        width: 420px;
        height: 420px;


    }

    .about-us-circle {
        height: 90px;
        width: 90px;
        margin-left: 20px;
        margin-top: 30px;

    }

    .about-us-small-circle-one {
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-left: 120px;

    }

    .about-us-small-circle-two {
        width: 80px;
        height: 80px;
        margin-top: 365px;
        margin-left: 300px;
    }

    /* About us text */

    .about-us-container-text {
        font-size: 24px;
        margin-top: 20px;
        letter-spacing: 0.5px;
        inline-size: 100%;
    }

    .about-us-big-circle p {
        font-size: 14px;
        line-height: 13.5px;
        letter-spacing: 0.5px;
        inline-size: 80%;
        margin-left: 40px;
    }

    .box-text {
        font-size: 16px;
    }



    /* Diagnosis text */

    .your-diagnosis {
        font-size: 40px;
        line-height: 32px;
    }

    .diagnosis-main-header {
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.5px;
        line-height: 25px;
        text-transform: uppercase;
        color: white;
        margin-top: 143px;

    }


    .diagnosis-header {
        font-size: 30px;
    }
    

    .learn-more {
        font-size: 16px;

    }

    /* Circles nav links */

    .container-flex-left-one {
        right: 180px;
        bottom: -10px;
    }

    .container-flex-left-two {
        top: 100px;
        right: 200px;
    }

    .container-flex-right-one {
        top: 100px;
        left: 200px;

    }

    .container-flex-right-two {
        right: 180px;
        bottom: -10px;
    }



    .newsletter {
        zoom: 120%;
        margin-top: 200px;
        padding-bottom: 30px;

    }

    .sign-up-form {
        zoom: 120%;
        margin-top: 50px;


    }


}

@media only screen and (min-width: 1135px) {

    /*Hero */

    .hero-circle {
        width: 400px;
        height: 400px;
        top: 200px;


    }

    .hero-picture {
        width: 400px;
        height: 400px;
        bottom: 200px;
    }



    /* Flex Containers */

    /* Tips and tricks container */
    .container-flex-right-one {
        height: 140px;
        width: 140px;
        left: 500px;
        top: -20px;

    }

    .container-border-right-one {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Diagnosis container */
    .container-flex-right-two {
        height: 140px;
        width: 140px;
        left: 535px;
        top: -20px;
    }

    .container-border-right-two {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Contact container */
    .container-flex-left-one {
        height: 140px;
        width: 140px;
        right: 360px;
        top: -20px;

    }

    .container-border-left-one {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Info container */
    .container-flex-left-two {
        height: 140px;
        width: 140px;
        right: 680px;
        top: -20px
    }

    .container-border-left-two {
        height: 80px;
        width: 160px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        top: 75px;
    }

    /* Text for containers */

    .flex-container-text {
        font-size: 120%;
        bottom: 20px;
    }


    /* Text box */


    .box-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }




    .circle-box {
        width: 400px;
        height: 400px;
    }

    .about-us {
        height: 700px;


    }

    /* About us containers */
    .about-us-big-circle {
        width: 600px;
        height: 600px;


    }



    .about-us-circle {
        height: 120px;
        width: 120px;
        margin-left: 20px;
        margin-top: 30px;

    }

    .about-us-small-circle-one {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-left: 150px;

    }

    .about-us-small-circle-two {
        width: 100px;
        height: 100px;
        margin-top: 530px;
        margin-left: 400px;
    }


    /* About us text */

    .about-us-container-text {
        font-size: 30px;
        margin-top: 25px;
        inline-size: 100%;
    }

    .about-us-big-circle p {
        font-size: 24px;
        line-height: 18px;
        inline-size: 80%;
        margin-left: 60px;


    }

    /* Diagnosis text */

    .your-diagnosis {
        font-size: 50px;
        line-height: 40px;
    }

    .diagnosis-main-header {
        text-align: center;
        font-size: 30px;
        letter-spacing: 0.5px;
        line-height: 40px;
        text-transform: uppercase;
        color: white;
        margin-top: 135px;

    }


    .diagnosis-header {
        font-size: 40px;
    }


    .learn-more {
        font-size: 24px;

    }

    /* Sign up form */

    .sign-up-section {
        display: flex;
        flex-flow: column;
        height: 400px;
        justify-content: center;
        align-items: center;
    }

    .sign-up-form {
        background-color: #231f20;
        display: flex;
        flex-flow: column;
        align-items: center;
        border-radius: 25px;
        zoom: 130%;
        margin-bottom: 50px;

    }

    #submit {
        position: relative;
        top: 20px;
    }

    /* Newsletter */
    .newsletter-box {
        height: 650px;
    }

    .newsletter {
        background-color: #231f20;
        border-radius: 25px;
        zoom: 140%;
        margin-bottom: 100px;
        padding-bottom: 30px;

    }

    .header-newsletter {
        align-self: flex-start;
        font-size: 32px;
        position: relative;
        bottom: 10px;
        margin-left: 5px;
        color: white;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    .paragraph-newsletter {
        color: #e98784;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        line-height: 15px;
        margin-left: 5px;
        margin-right: 5px;

    }


}